body {
    display: flex;
    flex-direction: column;
    background-color: #DDDDDD;
    margin: 0px;
    padding: 0px;

}

.header, .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 50px;
}

.main {
    display: flex;
    margin: 0px;
    padding: 0px;
}


.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    padding-top:20px;
    gap: 8px;
}

.btn_1 {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: 90px;
    border-radius: 15px;
    border-style: dashed;
}

.slider {
    -webkit-appearance: none; 
    appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
    width: 90px;
    color: gray;
    appearance: square;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #777777; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }




.grid {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    min-height: 500px;
    min-width: 500px;
    background-color: white;
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
    border: solid;

}

.grid:hover{
    background-color: orange;
}

.colors {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 60px;
    min-width: 60pxpx;
    flex-wrap: wrap;
}

.color {
    width: 20px;
    height: 20px;
    min-width:20px;
    min-height: 20px;
    background-color: gray;
    outline: black 1px solid;
}

.color:hover {
    transform: scale(1.2);
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}